include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/fdt_sqlalchemy *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/fdt_sqlalchemy/migration *.ini *.py *.mako
